<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="mt-0"><i class="fa fa-cc-visa text-info"></i></h1>
                <h3>**** **** **** 2150</h3>
                <span class="pull-right">Exp date: 10/16</span>
                <span class="font-500">Johnathan Doe</span>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="mt-0"><i class="fa fa-cc-mastercard text-primary"></i></h1>
                <h3>**** **** **** 2150</h3>
                <span class="pull-right">Exp date: 10/16</span>
                <span class="font-500">Johnathan Doe</span>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="mt-0"><i class="fa fa-cc-discover text-success"></i></h1>
                <h3>**** **** **** 2150</h3>
                <span class="pull-right">Exp date: 10/16</span>
                <span class="font-500">Johnathan Doe</span>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="mt-0"><i class="fa fa-cc-amex text-warning"></i></h1>
                <h3>**** **** **** 2150</h3>
                <span class="pull-right">Exp date: 10/16</span>
                <span class="font-500">Johnathan Doe</span>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PRODUCT SUMMARY</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="../assets/images/gallery/chair.jpg" alt="iMac" width="80"></td>
                                <td>Rounded Chair</td>
                                <td>20</td>
                                <td class="font-500">$153</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="font-500" align="right">Total Amount</td>
                                <td class="font-500">$153</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <h5 class="card-title">Elija la opción de pago</h5>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="nav-item">
                        <a href="#iprofile" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Tarjeta automática </span>
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="#ihome" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="ti-user"></i></span>
                            <span class="hidden-xs"> Efectivo</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="ihome">
                        <br/> Puede pagar su dinero de forma efectiva, para más información <a href="#"> haga clic aquí.</a>
                        <br>
                        <br>
                        <button class="btn btn-info"><i class="fas fa-shipping-fast"></i> Pagar con Efectivo</button>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="iprofile">
                        <div class="row">
                            <div class="col-md-7">
                                <form>
                                    <div role="tabpanel" class="tab-pane" id="ihome">
                                        <br/> Puede pagar su dinero de forma automática, para más información <a href="#"> haga clic aquí.</a>
                                        <br>
                                        <br>
                                        <button class="btn btn-info"><i class="fa fa-cc-visa"></i> Pagar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 ml-auto">
                                <h4 class="card-title mt-4">Información general</h4>
                                <h2><i class="fa fa-cc-visa text-info"></i> <i class="fa fa-cc-mastercard text-danger"></i> <i class="fa fa-cc-discover text-success"></i> <i class="fa fa-cc-amex text-warning"></i></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->