<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table product-overview" id="zero_config">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Costo Total</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let r of recordList">
                                <td> {{r.idorden}}</td>
                                <td>{{r.fecha_pedido_i}}</td>
                                <td>S/. {{r.costo_total}}</td>
                                <td> <span class="label label-success font-weight-100">Pendiente</span> </td>
                                <td class="text-nowrap">
                                    <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14"><i class="ti-marker-alt"></i> Ver detalle</button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->